"*":
  core:
    telemetryConsent: "no"
  editor:
    invisibles: {}
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "1f29a1f8-7122-152b-f99a-61fed3cfb7e7"
  "one-dark-ui": {}
  welcome:
    showOnStartup: false
